body {

}
.sign {
    margin-top: 15%;
    margin-left: 41%;
    font-size: larger;
}
.onep {
    font-size: 25px;
    color: #db1c40;
}
.twop {
    margin-left: 85px;
    font-size: 22px;
    color: #49CCED;
}
.sign .threep {
    margin-left: 90px;
    font-size: 22px;
    color: #bd0d13;
}